<h1><%= markdown(@wiki.title) %></h1>

  <div class="row">
    <h3><%= markdown(@wiki.body) %></h3>
    <h5><%= @wiki.user.email %></h5>
    <h5><%= @wiki.created_at %></h5>


    <% if current_user.premium? || current_user.admin? %>
      <h5>Collaborators:</h5>
      <% @wiki.collaborators.each do |u| %>
        <% user = User.find(u.user_id) %>
        <small><%= user.email  %></small><br>
      <% end %>
    </h6>
    <% end %>
  </div>

  <div class="col-md-4">
      <%= link_to "Update", edit_wiki_path(@wiki), class: 'btn btn-success' %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
  </div>
