<h1><%= @wiki.title %></h1>
<h1><%= @wiki.body %></h1>

<%= link_to "EDIT Wiki", edit_wiki_path(@wiki), class: 'btn btn-warning' %>
<%= link_to "NEW Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %>
<%= link_to "DESTROY", @wiki, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
<!-- <%= link_to "Delete Post", [@post.topic, @post], method:%> -->
