<!DOCTYPE html>
<html>
  <head>
    <title>Brockpedia</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="apple-touch-icon" sizes="180x180" href="http://brockpedia.herokuapp.com/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://brockpedia.herokuapp.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://brockpedia.herokuapp.com/favicon-16x16.png">
    <link rel="manifest" href="http://brockpedia.herokuapp.com/site.webmanifest">
    <link rel="mask-icon" href="http://brockpedia.herokuapp.com/safari-pinned-tab.svg" color="red">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
   <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Blocipedia", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Wikis", wikis_path %></li>
        <li><%= link_to "New Wiki", new_wiki_path %></li>

        <li class="pull-right blue">
       <% if user_signed_in? %>
          <span class=""><%= current_user.email %></span>
          <li class="pull-right"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
              <% if current_user.standard? %>
                <li class="pull-right"> <%= link_to "Go Premium", new_charge_path, :class => 'navbar-link' %></li>
              <% else %>
                <li class="pull-right"><%= link_to "Not Pleased with Premium?", new_charge_path, :class => 'navbar-link' %>
              <% end %>
        </li>

        <% else %>
          <li class="pull-right"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <li class="pull-right"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
        <% end %>
      </ul>

      <% if flash[:notice] %>
       <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:notice] %>
       </div>
      <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
      <% end %>

   </div>

    <%= yield %>

  </body>
</html>
